@use "core/breakpoints" as bp;

.map {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    max-height: 540px;

    iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 4 / 2;
        object-fit: cover;
        border: none;

        @include bp.mq(tablet) {
            aspect-ratio: 4 / 3;
        }
    }
}
