<div class="product-gallery" data-component="product-gallery">
    <div class="main">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="./assets/images/content/catalog-item-1.jpg" data-fancybox="product-gallery">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-item-1.jpg"
                                alt=""
                            />
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="./assets/images/content/requisites-hero.png" data-fancybox="product-gallery">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/requisites-hero.png"
                                alt=""
                            />
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="./assets/images/content/catalog-item-1.jpg" data-fancybox="product-gallery">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-item-1.jpg"
                                alt=""
                            />
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="./assets/images/content/catalog-item-1.jpg" data-fancybox="product-gallery">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-item-1.jpg"
                                alt=""
                            />
                        </picture>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="./assets/images/content/catalog-item-1.jpg" data-fancybox="product-gallery">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-item-1.jpg"
                                alt=""
                            />
                        </picture>
                    </a>
                </div>
            </div>
            <button class="swiper-button-prev" type="button" aria-label="Предыдущий слайд">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9 3L4.82588 6.7567C4.3845 7.15395 4.3845 7.84605 4.82588 8.24329L9 12"
                        stroke="#322F2F"
                        stroke-linecap="round"
                    />
                </svg>
            </button>
            <div class="swiper-pagination"></div>
            <button class="swiper-button-next" type="button" aria-label="Следующий слайд">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6 12L10.1741 8.24329C10.6155 7.84605 10.6155 7.15395 10.1741 6.75671L6 3"
                        stroke="#322F2F"
                        stroke-linecap="round"
                    />
                </svg>
            </button>
        </div>
    </div>
</div>