<div class="copyright">
    <span>"Татлон" © 2003-2026 Кабельная компания. Все права защищены. </span>
    <a href="policy.html">Политика конфиденциальности</a>
    <a href="https://artfactor.ru" target="_blank">Разработка сайта: «АртФактор»</a>
</div>