<section class="catalog-navigation section bg">
    <div class="container">
        <div class="catalog-navigation__wrapper">
            <a href="#" class="catalog-navigation__item catalog-navigation__item--all">
                <span class="catalog-navigation__name">Все электродвигатели</span>
            </a>
            <a href="#" class="catalog-navigation__item">
                <div class="catalog-navigation__icon">
                    <img class="lazy" src="./assets/images/content/catalog-nav-1.png" alt="Общепромышленные электродвигатели">
                </div>
                <span class="catalog-navigation__name">Общепромышленные электродвигатели</span>
            </a>
            <a href="#" class="catalog-navigation__item">
                <div class="catalog-navigation__icon">
                    <img class="lazy" src="./assets/images/content/catalog-nav-2.png" alt="Взрывозащищенные электродвигатели">
                </div>
                <span class="catalog-navigation__name">Взрывозащищенные электродвигатели</span>
            </a>
            <a href="#" class="catalog-navigation__item">
                <div class="catalog-navigation__icon">
                    <img class="lazy" src="./assets/images/content/catalog-nav-3.png" alt="Однофазные электродвигатели">
                </div>
                <span class="catalog-navigation__name">Однофазные электродвигатели</span>
            </a>
            <a href="#" class="catalog-navigation__item">
                <div class="catalog-navigation__icon">
                    <img class="lazy" src="./assets/images/content/catalog-nav-4.png" alt="Специальные электродвигатели">
                </div>
                <span class="catalog-navigation__name">Специальные электродвигатели</span>
            </a>
            <a href="#" class="catalog-navigation__item">
                <div class="catalog-navigation__icon">
                    <img class="lazy" src="./assets/images/content/catalog-nav-5.png" alt="Электродвигатели с встроенным электромагнитным тормозом">
                </div>
                <span class="catalog-navigation__name">Электродвигатели с встроенным электромагнитным тормозом</span>
            </a>
            <a href="#" class="catalog-navigation__item">
                <div class="catalog-navigation__icon">
                    <img class="lazy" src="./assets/images/content/catalog-nav-6.png" alt="Запасные части и комплектующие для электродвигателей">
                </div>
                <span class="catalog-navigation__name">Запасные части и комплектующие для электродвигателей</span>
            </a>
        </div>
    </div>
</section>