<div id="popup-order" class="popup-order">
    <div class="block">
        <div class="heading">
            <div class="title">Отправить заявку</div>
            <div class="subtitle">Провод МГТФ 0,03</div>
        </div>
        <div class="frame">
            {% include "components/general/form/form-5.njk" %}
        </div>
    </div>
</div>