{% macro render(id="", class="") %}
    {% set componentClasses = "product-description" %}
    {% if class %}
        {% set componentClasses = componentClasses + " " + class %}
    {% endif %}

    <div
        class="{{ componentClasses }}"
        {% if id %}
            id="{{ id }}"
        {% endif %}
    >
        <div class="text">
            <h2>Элементы конструкции:</h2>
            <ul>
                <li>Токопроводящая жила скрученная из медных проволок;</li>
                <li>Изоляция из фторопластовых пленок.</li>
            </ul>
            <p><b>Область применения:</b></p>
            <p>
                Провода марки МГТФ предназначены для подвижного и фиксированного монтажа внутриблочных, межблочных,
                внутриприборных и межприборных соединений в электронных и электрических устройствах на рабочее переменное
                напряжение 250 В частотой 5 кГц и постоянное напряжение 350 В.
            </p>
            <p>
                Провода предназначены для эксплуатации на суше, реках, озёрах и на море в макроклиматических районах с
                умеренным и холодным климатом. Провода устойчивы к воздействию пониженного атмосферного давления до 0,67 кПа
                и повышенного атмосферного давления до 295 кПа. При нагреве проводов свыше 250°С, а также сжигании отходов
                проводов выделяются токсичные газы. Не рекомендуется эксплуатация проводов в условиях резкой смены
                температур.
            </p>
            <ul>
                <li>Минимальная наработка проводов - 3000 часов.</li>
                <li>Минимальный срок сохраняемости проводов - 20 лет.</li>
                <li>Минимальный срок службы - 20 лет. 95%-ый ресурс - 5000 часов.</li>
            </ul>
            <p><b>Условные обозначения:</b></p>
            <ul>
                <li>ТУ-16-505.185-71</li>
                <li>М - Монтажный</li>
                <li>Г - Гибкий</li>
                <li>Т - Теплостойкий</li>
                <li>Ф - Изоляция из фторопласта</li>
            </ul>
        </div>
    </div>
{% endmacro %}