<div id="popup-invoice" class="popup-invoice">
    <div class="block">
        <div class="heading">
            <div class="title">Конкурентный счет</div>
            <div class="text">
                Прикрепите конкурентный счет и получите цену ниже! Для оформления заказа, введите свои контактные
                данные.
            </div>
        </div>
        <div class="frame">
            {% include "components/general/form/form-6.njk" %}
        </div>
    </div>
</div>