<section class="search section">
    <div class="container">
        <div class="block">
            <div class="top">
                {% include "components/general/search-form/search-form.njk" %}
            </div>
            {% include "components/common/products-table/products-table.njk" %}
        </div>
    </div>
</section>