{% macro render(
        title="",
        id="",
        class=""
    ) %}
    {% set componentClasses = "product-properties" %}
    {% if class %}
        {% set componentClasses = componentClasses + " " + class %}
    {% endif %}

    <div
        class="{{ componentClasses }}"
        {% if id %}
            id="{{ id }}"
        {% endif %}
    >
        {% if title %}
            <div class="title">{{ title }}</div>
        {% endif %}

        <div class="text">
            <h3>Элементы конструкции:</h3>
            <ul>
                <li>Токопроводящая жила скрученная из медных проволок;</li>
                <li>Изоляция из фторопластовых пленок.</li>
            </ul>
            <p><b>Область применения:</b></p>
            <p>
                Провода марки МГТФ предназначены для подвижного и фиксированного монтажа внутриблочных, межблочных,
                внутриприборных и межприборных соединений в электронных и электрических устройствах на рабочее переменное
                напряжение 250 В частотой 5 кГц и постоянное напряжение 350 В.
            </p>
            {% if caller %}
                {{ caller() }}
            {% endif %}
        </div>
    </div>
{% endmacro %}