@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.product-properties {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-bottom: 24px;
    background: var(--color-white);
    border-radius: 10px;

    @include bp.mq(tablet) {
        padding: unset;
    }

    > .title {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: 600;

        @include bp.mq(laptop-l) {
            font-size: 20px;
        }
        @include bp.mq(tablet) {
            font-size: 18px;
        }
    }

    .text {
        font-weight: 400;
        line-height: 150%;

        @include bp.mq(laptop) {
            font-size: 15px;
        }

        h2,
        h3,
        h4 {
            margin-top: 16px;
            margin-bottom: 16px;
            font-weight: 600;
            line-height: 150%;
        }

        h2 {
            font-size: 26px;

            @include bp.mq(laptop-l) {
                font-size: 20px;
            }
            @include bp.mq(tablet) {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 20px;

            @include bp.mq(laptop-l) {
                font-size: 18px;
            }
            @include bp.mq(tablet) {
                font-size: 16px;
            }
        }

        h4 {
            font-size: 18px;

            @include bp.mq(tablet) {
                font-size: 16px;
            }
        }

        p {
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .table {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        ul,
        ol {
            padding-left: 1.75rem;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        li + li {
            margin-top: 4px;
        }

        a {
            color: var(--color-primary);
            text-decoration: underline;

            &:hover {
                color: var(--color-primary-dark);
            }
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 1.5em 0;
            border-radius: 5px;
        }

        @include mix.reset-child-outer-margins;
    }
}
