{% from "components/general/button/button.njk" import render as button %}

<section class="about-short section">
    <div class="container">
        <div class="block">
            <div class="frame">
                {% set title = { text: "Условия работы", tag: "h2", class: "section-title" } %}
                {% include "components/general/title/title.njk" %}
                {% set text %}
                    <p>
                        При работе с бюджетными организациями возможны такие формы оплаты счетов, как частичная предоплата,
                        а также оплата по факту поставки кабельно-проводниковой продукции.
                    </p>
                    <p>
                        Отгрузка продукции производится со склада в Москве, также мы давно и эффективно сотрудничаем со
                        всеми транспортными и курьерскими компаниями, что позволяет сократить время ожидания вашего заказа.
                    </p>
                    <p>Доставку до транспортного терминала ТК “Деловые Линии” осуществляем бесплатно.</p>
                    <p>Где бы Вы не находились – мы доставим ваш заказ в любую точку России.<br />Свяжитесь с нами!</p>
                {% endset %}
                {% include "components/general/text/text.njk" %}
                {{ button(text="Задать вопрос", type="button", data={"src": "popup-feedback"}) }}
            </div>
            <div class="items" data-animate="fade-up">
                <div class="item">
                    <div class="icon">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/about-short-icon-1.svg"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="box">
                        <div class="name">Продажа из наличия</div>
                        <div class="text">Краткое описание преимущества для клиентов</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/about-short-icon-2.svg"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="box">
                        <div class="name">Отгрузка в день оплаты</div>
                        <div class="text">Краткое описание преимущества для клиентов</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/about-short-icon-3.svg"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="box">
                        <div class="name">Низкая цена</div>
                        <div class="text">Краткое описание преимущества для клиентов</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/about-short-icon-4.svg"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="box">
                        <div class="name">Качество</div>
                        <div class="text">Краткое описание преимущества для клиентов</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/about-short-icon-5.svg"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="box">
                        <div class="name">Отсрочка платежа</div>
                        <div class="text">Краткое описание преимущества для клиентов</div>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/about-short-icon-6.svg"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="box">
                        <div class="name">Ответ 10 минут</div>
                        <div class="text">Краткое описание преимущества для клиентов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>