@use "core/breakpoints" as bp;

.table {
    width: 100%;
    padding-bottom: 4px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 6px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-5);
        border-radius: 16px;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        @include bp.mq(tablet) {
            min-width: max-content;
        }
    }

    th,
    td {
        padding: 8px;
        font-size: 16px;
        line-height: 150%;
        border-top: 1px solid var(--color-5);

        @include bp.mq(laptop-l) {
            width: 160px;
            font-size: 15px;
        }
    }

    th {
        font-weight: 500;
        line-height: normal;
        vertical-align: top;
        color: var(--color-black);
        border-top: unset;
    }

    tbody {
        tr {
            &:nth-of-type(even) {
                background: var(--color-1);
            }
        }
    }
}

.table.center {
    th,
    td {
        text-align: center;
    }
}

.table.properties {
    td {
        &:nth-child(2) {
            font-weight: 700;
            text-align: right;
        }
    }
}
