@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.email-footer {
    font-size: 112px;
    font-weight: 700;
    line-height: 1.1;
    color: var(--color-3);
    white-space: nowrap;

    @include bp.mq(laptop) {
        font-size: 48px;
    }

    &:hover {
        text-decoration: none;
    }
}
