{% from "components/general/files/files.njk" import render as files %}

{% macro render(title = "Оплата", items = [], id = "", class = "") %}
    {% set componentClasses = "product-payment" %}
    {% if class %}
        {% set componentClasses = componentClasses + " " + class %}
    {% endif %}

    <div
        class="{{ componentClasses }}"
        {% if id %}
            id="{{ id }}"
        {% endif %}
    >
        {% if title %}
            <div class="title">{{ title }}</div>
        {% endif %}
        <div class="frame">
            <div class="title">Для юридических лиц:</div>
            <div class="items">
                <div class="item">Безналичная оплата на расчетный счет поставщика (100% предоплата)</div>
                <div class="item">Юридическим лицам по безналичному расчету на основании выставленного счета - 100%</div>
                <div class="item">
                    При работе с бюджетными организациями возможны такие формы оплаты счетов, как частичная предоплата, а
                    также оплата по факту поставки кабельно-проводниковой продукции
                </div>
                <div class="item">Минимальная сумма заказа 2000 руб.</div>
            </div>
            <div class="text">Предоставляем полный пакет документов: счет, дорогвор, УПД, ТТН, акт сверки</div>
            <div class="attention">
                <div class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#81A451" />
                        <path
                            d="M18 7L11.8352 16.6876C11.4443 17.3017 10.5493 17.3059 10.1528 16.6953L7 11.84"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                        />
                    </svg>
                </div>
                <div class="text">
                    Грамотно организованная структура предприятия и налаженная взаимосвязь всех подразделений обеспечивают
                    быстрое и качественное изготовление различных видов гибкой упаковки, а также соответствие самым высоким
                    запросам и требованиям клиентов и конечных потребителей.
                </div>
            </div>
        </div>
    </div>
{% endmacro %}