{% from "components/general/button/button.njk" import render as button %}

<div class="vacancies-list" data-component="vacancies-list">
    <div class="item is-active">
        <div class="top">
            <div class="name">
                Менеджер по продажам металлопроката
                <span class="toggle">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="23" rx="2" fill="#B42F2D" />
                        <path d="M6 11L18 11" stroke="white" stroke-width="2" />
                        <path d="M12 6L12 17" stroke="white" stroke-width="2" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="bottom">
            <div class="text">
                <b>Требования:</b>
                <ul>
                    <li>опыт работы в продажах металлопроката от 2 лет;</li>
                    <li>высшее техническое или экономическое образование;</li>
                    <li>знание сортамента металлопроката;</li>
                    <li>уверенный пользователь 1С;</li>
                    <li>навыки ведения переговоров</li>
                </ul>
                <b>Обязанности:</b>
                <ul>
                    <li>активный поиск и привлечение клиентов;</li>
                    <li>ведение переговоров, заключение договоров;</li>
                    <li>подготовка коммерческих предложений;</li>
                    <li>выставление счетов и контроль оплаты;</li>
                    <li>сопровождение сделок до отгрузки</li>
                </ul>
                <b>Условия:</b>
                <ul>
                    <li>график: пн–пт, 9:00–17:30;</li>
                    <li>оформление по ТК РФ;</li>
                    <li>оклад + % от продаж;</li>
                    <li>корпоративная мобильная связь</li>
                </ul>
                <b>Доп. информация:</b>
                <ul>
                    <li>Место работы: СПб, ул. Рощинская, д. 20;</li>
                    <li>Ближайшее метро: Электросила</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="top">
            <div class="name">
                Сварщик (MIG/MAG, ручная дуговая)
                <span class="toggle">
                    <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="23" rx="2" fill="#B42F2D" />
                        <path d="M6 11L18 11" stroke="white" stroke-width="2" />
                        <path d="M12 6L12 17" stroke="white" stroke-width="2" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="bottom">
            <div class="text">
                <b>Требования:</b>
                <ul>
                    <li>разряд не ниже 4-го;</li>
                    <li>опыт работы от 3 лет;</li>
                    <li>умение читать чертежи;</li>
                    <li>навыки полуавтоматической и ручной дуговой сварки;</li>
                    <li>действующее удостоверение НАКС — преимущество</li>
                </ul>
                <b>Обязанности:</b>
                <ul>
                    <li>сварка металлоконструкций по чертежам;</li>
                    <li>сварка закладных деталей, опор, кронштейнов;</li>
                    <li>контроль качества сварных швов;</li>
                    <li>подготовка деталей к сварке (зачистка, сборка)</li>
                </ul>
                <b>Условия:</b>
                <ul>
                    <li>сменный график 2/2 или 5/2 (обсуждается);</li>
                    <li>оформление по ТК РФ;</li>
                    <li>спецодежда и СИЗ за счёт компании;</li>
                    <li>стабильная загрузка заказами</li>
                </ul>
            </div>
        </div>
    </div>
</div>