<section class="feedback section">
    <div class="container">
        <div class="block">
            <div class="box">
                {% set title = { text: "Связаться с нами", tag: "h2", class: "title" } %}
                {% include "components/general/title/title.njk" %}
                {% set text %}
                    Специалисты компании «Татлон» помогут вам сделать правильный выбор. Мы работаем с крупным и мелким оптом
                    и осуществляем доставку по всей России.
                {% endset %}
                {% include "components/general/text/text.njk" %}
            </div>
            {% include "components/general/form/form.njk" %}
        </div>
    </div>
    <div class="bg">
        <picture>
            <img src="./assets/images/system/feedback-bg.png" alt="" />
        </picture>
    </div>
</section>