@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.product-price {
    display: flex;
    gap: 6px;
    align-items: flex-end;
    width: fit-content;
    margin-bottom: 24px;

    @include bp.mq(tablet) {
        margin-bottom: 16px;
    }

    .label {
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
    }

    .current {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;

        span {
            font-size: 30px;
            font-weight: 700;
        }
    }

    .old {
        text-decoration: line-through;
    }

    .not-available {
        text-decoration: line-through;
    }
}
