@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

:root {
    // --------------------------------------
    // -- Base Сolors
    // --------------------------------------
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #8f8f8f;
    --color-gray-dark: #525252;
    --color-gray-light: #d9dadb;
    --color-red: #f04f36;
    --color-green: #81a451;
    --color-green-light: #e8f9d1;
    --color-yellow: #d8b74b;

    // --------------------------------------
    // -- Brand Сolors
    // --------------------------------------
    --color-primary: #b42f2d;
    --color-primary-dark: #8d1a1c;

    // --------------------------------------
    // -- Others Сolors
    // --------------------------------------
    --color-1: #f3f3f3;
    --color-2: #303038;
    --color-3: #686161;
    --color-4: #aeaeae;
    --color-5: #dedede;
    --color-6: #322f2f;
    --color-7: #dc5655;

    // --------------------------------------
    // -- Fonts
    // --------------------------------------
    --font-family-primary: "Roboto", sans-serif;

    // --------------------------------------
    // -- Sizes
    // --------------------------------------
    --container-width: 1600px;
    --container-padding: 60px;
    --header-top-height: 58px;
    --header-main-height: 98px;
    --header-height: calc(var(--header-top-height) + var(--header-main-height));
    --heading-margin: 1rem 0;
    --heading-line-height: 1.1;
    --section-mb: 60px;

    @include bp.mq(laptop-l) {
        --header-main-height: 70px;
    }

    @include bp.mq(laptop) {
        --container-padding: 40px;
        --header-main-height: 58px;
        --section-mb: 40px;
    }

    @include bp.mq(tablet) {
        --container-padding: 15px;
        --header-top-height: 34px;
        --header-main-height: 104px;
    }
}
