@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

:root {
    // --------------------------------------
    // -- Base Colors
    // --------------------------------------
    --color-white: #FFF;
    --color-black: #101828;
    --color-gray: #746C6C;
    --color-text-gray: #808080;
    --color-border-gray: #E9E9E9;
    --color-red: #F33607;
    --color-blue: #0040A1;

    // --------------------------------------
    // -- Button Colors
    // --------------------------------------
    --color-red-dark: #C92A05;
    --color-red-darker: #A82204;
    --color-black-light: #2D3748;
    --color-black-lighter: #4A5568;

    // --------------------------------------
    // -- Others Сolors
    // --------------------------------------
    --color-1: #7E7E7E;
    --color-2: #ECECEC;
    --color-3: #EDEDED;
    --color-4: #E7E7E7;
    --color-5: #8F8F8F;

    // --------------------------------------
    // -- Fonts
    // --------------------------------------
    --font-family-primary: 'WixMadeforText', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    --font-family-headings: 'Commissioner', Georgia, 'Times New Roman', serif;
    --font-family-accent: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-unna: 'Unna', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

    // --------------------------------------
    // -- Font Weights
    // --------------------------------------
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    // --------------------------------------
    // -- Sizes
    // --------------------------------------
    --container-width: 1801px;
    --container-padding: 60px;
    --header-height: 99px;

    @include bp.mq(tablet-xl) {
        --header-height: 68px;
        --container-padding: 40px;
    }

    @include bp.mq(mobile-xl) {
        --container-padding: 15px;
        --header-height: 50px;
    }
}