<div class="order-summary">
    <div class="main">
        <div class="items">
            <div class="item">
                <div class="name">Общая сумма:</div>
                <div class="value total">от 10 000 ₽</div>
            </div>
            <div class="item">
                <div class="name">Товар(ы):</div>
                <div class="value">8</div>
            </div>
        </div>
        <div class="info">
            <div class="icon">
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect
                        x="0.388889"
                        y="0.388889"
                        width="20.2222"
                        height="20.2222"
                        rx="10.1111"
                        stroke="#B42F2D"
                        stroke-width="0.777778"
                    />
                    <rect x="9" y="8" width="3" height="9" rx="1" fill="#B42F2D" />
                    <circle cx="10.5" cy="5.5" r="1.5" fill="#B42F2D" />
                </svg>
            </div>
            <div class="text">Обработка заявки будет осуществляться менеджером.</div>
        </div>
    </div>
    {% include "components/general/form/form-2.njk" %}
</div>