@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.order-summary {
    padding: 16px;
    background: var(--color-1);
    border-radius: 10px;

    > .title {
        margin-bottom: 8px;
        font-weight: 700;
    }

    .main {
        margin-bottom: 24px;
        border-bottom: 1px dashed var(--color-4);

        .items {
            display: flex;
            flex-direction: column;
            gap: 11px;
            margin-bottom: 10px;

            .item {
                display: flex;
                gap: 10px;
                align-items: flex-end;
                justify-content: space-between;

                .name {
                    width: 50%;
                    font-weight: 500;
                    line-height: 1;
                }

                .value {
                    width: 50%;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1;
                    text-align: right;

                    &.total {
                        color: var(--color-primary);
                    }
                }
            }
        }

        .info {
            display: flex;
            gap: 6px;
            align-items: flex-start;
            padding: 4px;
            margin-bottom: 24px;
            background: var(--color-white);
            border-radius: 10px;

            .icon {
                display: flex;
                flex: 0 0 auto;
            }

            .text {
                font-size: 14px;
                line-height: 150%;
            }
        }
    }

    .form {
        .field {
            margin-bottom: 8px;
        }

        .field-file {
            margin-bottom: 8px;
        }
    }

    @include mixin.reset-child-outer-margins;
}
