@use "core/breakpoints" as bp;

.newsletter-form {
    .grid {
        display: flex;
        gap: 13px;
        align-items: center;

        @include bp.mq(laptop) {
            flex-direction: column;
            align-items: flex-start;
        }

        .field {
            width: 100%;
            min-width: 0;
            max-width: 388px;

            .label {
                display: none;
            }
        }
    }
}
