{% from "components/general/input/input.njk" import render as input %}
{% from "components/general/consent-checkbox/consent-checkbox.njk" import render as consentCheckbox %}
{% from "components/general/button/button.njk" import render as button %}

<form class="newsletter-form">
    <div class="grid">
        <div class="field">
            <label class="label" for="newsletter-form-email">E-mail</label>
            {{ input(
                type="email",
                id="newsletter-form-email",
                name="email",
                placeholder="E-mail*",
                autocomplete="email",
                data={"error": "Неверный формат"},
                required=true
            ) }}
        </div>
        <div class="field-consent">{{ consentCheckbox(id="newsletter-form-consent", required=true) }}</div>
        <div class="actions">
            {{ button(
                text="Подписаться",
                type="submit",
                disabled=true
            ) }}
        </div>
    </div>
</form>