{% from "components/general/button/button.njk" import render as button %}
{% from "components/general/select/select.njk" import render as select %}
{% from "components/general/input/input.njk" import render as input %}
{% from "components/general/textarea/textarea.njk" import render as textarea %}
{% from "components/general/consent-checkbox/consent-checkbox.njk" import render as consentCheckbox %}
{% from "components/general/input-file/input-file.njk" import render as inputFile %}

<form class="form" data-validate>
    <div class="grid">
        <div class="field">
            <label class="label" for="order-callback-phone">Ваш телефон</label>
            {{ input(
                type="tel",
                id="order-callback-phone",
                name="phone",
                placeholder="Ваш телефон*",
                autocomplete="tel",
                data={"mask": "phone", "error": "Введите полный номер телефона"},
                required=true
            ) }}
        </div>
        <div class="field-consent">
            {{ consentCheckbox(
                id="order-callback-consent",
                data={"error": "Необходимо отметить"},
                required=true
            ) }}
        </div>
        <div class="actions">
            {{ button(
                text="Перезвоните мне",
                type="submit",
                disabled=true
            ) }}
        </div>
    </div>
</form>