{% from "components/general/button/button.njk" import render as button %}
{% from "components/general/select/select.njk" import render as select %}
{% from "components/general/input/input.njk" import render as input %}
{% from "components/general/textarea/textarea.njk" import render as textarea %}
{% from "components/general/consent-checkbox/consent-checkbox.njk" import render as consentCheckbox %}
{% from "components/general/input-file/input-file.njk" import render as inputFile %}

<form class="form" data-validate>
    <div class="grid col-1">

        <div class="field">
            <label class="label" for="feedback-name">Имя</label>
            {{ input(
                type="text",
                id="feedback-name",
                name="name",
                placeholder="Имя*",
                autocomplete="name",
                required=true,
                minlength="2",
                data={"error": "Введите имя (минимум 2 буквы)"}
            ) }}
        </div>

       <div class="field">
            <label class="label" for="feedback-phone">Телефон</label>
            {{ input(
                type="tel",
                id="feedback-phone",
                name="phone",
                placeholder="Телефон*",
                autocomplete="tel",
                data={"mask": "phone", "error": "Введите полный номер телефона"},
                required=true
            ) }}
        </div>

        <div class="field">
            <label class="label" for="feedback-message">Комментарий</label>
            {{ textarea(
                id="feedback-message",
                name="message",
                rows="6",
                placeholder="Комментарий"
            ) }}
        </div>

        <div class="field-consent">
            {{ consentCheckbox(
                id="feedback-consent",
                class="variant",
                data={"error": "Необходимо отметить"},
                required=true
            ) }}
        </div>

        <div class="actions">
            {{ button(
                text="Отправить",
                type="submit",
                variant="red",
                disabled=true
            ) }}
        </div>
    </div>
</form>