{% from "components/general/button/button.njk" import render as button %}
{% from "components/general/select/select.njk" import render as select %}
{% from "components/general/input/input.njk" import render as input %}
{% from "components/general/textarea/textarea.njk" import render as textarea %}
{% from "components/general/consent-checkbox/consent-checkbox.njk" import render as consentCheckbox %}
{% from "components/general/input-file/input-file.njk" import render as inputFile %}

<form class="form" data-validate>
    <div class="grid">
        <div class="field">
            <label class="label" for="popup-invoice-phone">Ваш телефон*</label>
            {{ input(
                type="tel",
                id="popup-invoice-phone",
                name="phone",
                placeholder="Ваш телефон*",
                autocomplete="tel",
                data={"mask": "phone", "error": "Введите полный номер телефона"},
                required=true
            ) }}
        </div>
        <div class="field">
            <label class="label" for="popup-invoice-email">E-mail</label>
            {{ input(
                type="email",
                id="popup-invoice-email",
                name="email",
                placeholder="E-mail",
                autocomplete="email",
                data={"error": "Неверный формат"}
            ) }}
        </div>
        <div class="field-file">
            <label class="label" for="popup-invoice-file">Конкурентный счет*</label>
            {{ inputFile(
                id="popup-invoice-file",
                accept=".pdf,.jpg,.jpeg,.png",
                maxSize=15360,
                errorSize="Максимальный размер файла 15MB",
                errorType="Допустимы только PDF, JPG, PNG",
                placeholder="Прикрепить файл",
                hint="(не более 15MB, pdf, jpg)",
                data={"error": "Прикрепите файл"},
                required=true
            ) }}
        </div>
        <div class="field-consent">
            {{ consentCheckbox(
                id="popup-invoice-consent",
                data={"error": "Необходимо согласие"},
                required=true
            ) }}
        </div>
        <div class="actions">
            {{ button(
                text="Отправить",
                type="submit",
                disabled=true
            ) }}
        </div>
    </div>
</form>