@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.sidebar {
    @include bp.mq(laptop) {
        margin-bottom: 40px;
    }

    > * + * {
        margin-top: 20px;
    }

    @include mix.reset-child-outer-margins;

    .catalog-navigation {
        @include bp.mq(laptop) {
            display: none;
        }
    }
}
