<section class="vacancies section">
    <div class="container">
        <div class="block">
            <div class="text">
                <p>
                    Приглашаем на собеседование в компанию «ПРОМКАБЕЛЬСВЯЗЬ» квалифицированных специалистов, а также
                    кандидатов с небольшим опытом работы.
                </p>
                <p><b>Преимущества работы у нас:</b></p>
                <ul>
                    <li>добровольное медицинское страхование;</li>
                    <li>возможность обучения, повышения квалификации и развития карьеры;</li>
                    <li>обеспечение сотрудников рабочих специальностей спецодеждой;</li>
                    <li>предусмотрена система премирования за достижения в производственной деятельности. и т.п.</li>
                </ul>
            </div>
            <div class="title">Перечень вакансий</div>
            {% include "components/common/vacancies-list/vacancies-list.njk" %}
        </div>
    </div>
</section>