<section class="catalog-hero section">
    <div class="container">
        <div class="block">
            <div class="box">
                {% include "components/general/title/title.njk" %}
            </div>
            <div class="column" data-animate="fade-up">
                {% include "components/common/widget-callback/widget-callback.njk" %}
            </div>
            <div class="shape">
                <img src="./assets/images/content/hero-bg-shape.png" alt="" />
            </div>
            <div class="image">
                <img src="./assets/images/content/hero-image.png" alt="" />
            </div>
        </div>
    </div>
    <div class="bg"></div>
</section>