@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.about-hero {
    .block {
        display: grid;
        grid-template-columns: 5fr 7fr;
        gap: 30px;

        @include bp.mq(laptop-l) {
            grid-template-columns: 1fr 1fr;
        }
        @include bp.mq(laptop) {
            display: flex;
            flex-direction: column;
            gap: unset;
        }

        .frame {
            .title {
                margin-top: 0;
                margin-bottom: 16px;
                font-size: 44px;
                font-weight: 500;

                @include bp.mq(laptop-l) {
                    font-size: 36px;
                }
                @include bp.mq(laptop) {
                    margin-bottom: 14px;
                    font-size: 32px;
                }
                @include bp.mq(tablet) {
                    font-size: 28px;
                }
            }

            .text {
                h3 {
                    margin-top: 0;
                    margin-bottom: 16px;
                    font-size: 26px;
                    font-weight: 500;

                    @include bp.mq(laptop-l) {
                        font-size: 20px;
                    }
                    @include bp.mq(tablet) {
                        font-size: 18px;
                    }
                }
            }
        }

        .image {
            display: flex;

            @include bp.mq(laptop) {
                align-self: flex-end;
                max-width: 506px;
            }
        }
    }
}
