@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.newsletter {
    padding: 50px 0 70px;
    margin: 0;
    background: var(--color-1);

    @include bp.mq(laptop) {
        padding: 30px 0;
    }
    @include bp.mq(tablet) {
        padding: 15px 0;
    }

    .block {
        max-width: 970px;
        margin: 0 auto;

        .title {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;

            @include bp.mq(laptop) {
                margin-bottom: 24px;
                font-size: 18px;
            }
            @include bp.mq(tablet) {
                margin-bottom: 24px;
                font-size: 16px;
            }
        }
    }
}
