{% from "components/general/files/files.njk" import render as files %}

<section class="payment section">
    <div class="container">
        <div class="block">
            <div class="column">
                <div class="box">
                    <h2>Выставление счета</h2>
                    <p>
                        Счет выставляется в течении часа в день получения заявки и высылается заказчику по факсу или
                        электронной почте. При этом заказанные товары сразу же резервируются на складе. Кабельная
                        компания Татлон несет ответственность перед заказчиком за полученную сумму предоплаты согласно
                        законодательству РФ.
                    </p>
                </div>
                <div class="box">
                    <h2>Оплата</h2>
                    <p><b>Оплата за продукцию может быть осуществлена:</b></p>
                    <p>
                        Юридическим лицом по безналичному расчету на основании выставленного счета - 100% предоплата.
                        Физическим лицом на основании оплаты квитанции в любом отделении банка.
                    </p>
                    <p>
                        При работе с бюджетными организациями возможны такие формы оплаты счетов, как частичная
                        предоплата, а также оплата по факту поставки кабельно-проводниковой продукции.
                    </p>
                    <span class="minimum">Минимальная сумма заказа 2000 ₽</span>
                </div>
            </div>
            <div class="column">
                {% set items = [
                    { name: "Скачать гарантийное письмо", href: "#", size: "DOCX, 2.4 МБ" },
                    { name: "Скачать договор поставки", href: "#", size: "PDF, 5.1 МБ" }
                ] %}
                {{ files(items=items) }}
            </div>
        </div>
    </div>
</section>