<section class="plain section" data-animate="fade-up">
    <div class="container">
        <div class="block">
            {% include "components/general/text/text.njk" %}
        </div>
    </div>
</section>