{% set meta = { title: "О нас" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "О нас" }
    ]
} %}
{% set title = { text: "О нас", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
    <div class="container">

    </div>
{% endblock %}