{% set meta = { title: "Статьи" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Статьи" }
    ]
} %}
{% set title = { text: "Статьи", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
       {% include "blocks/common/articles-content/articles-content.njk" %}
{% endblock %}

