{% set meta = { title: "Каталог продукции" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Каталог" }
    ]
} %}
{% set title = { text: "Каталог продукции", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% set catalogAdditionalClass = "bg" %}
    {% include "blocks/common/catalog-short/catalog-short.njk" %}
    {% include "blocks/common/catalog-form/catalog-form.njk" %}
{% endblock %}