{% set meta = { title: "Вопрос-ответ" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Вопрос-ответ" }
    ]
} %}
{% set title = { text: "Вопрос-ответ", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/faq-content/faq-content.njk" %}
{% endblock %}