{% set meta = { title: "Фотогалерея" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Фотогалерея" }
    ]
} %}
{% set title = { text: "Фотогалерея", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/photos/photos.njk" %}
{% endblock %}

