{% set meta = { title: "Главная" } %}
{% set page = { breadcrumbs: false, heading: false, after_content: true } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/hero/hero.njk" %}
    {% include "blocks/common/catalog/catalog.njk" %}
    {% include "blocks/common/about-short/about-short.njk" %}
{% endblock %}
{% block after_content %}
    {% include "blocks/common/feedback/feedback.njk" %}
    {% include "blocks/common/newsletter/newsletter.njk" %}
{% endblock %}