{% set meta = { title: "Оформление заказа" } %}
{% set page = { after_content: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Оформление заказа" }
    ]
} %}
{% set title = { text: "Ваш заказ", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/order/order.njk" %}
{% endblock %}
{% block after_content %}
    {% include "blocks/common/feedback/feedback.njk" %}
    {% include "blocks/common/newsletter/newsletter.njk" %}
{% endblock %}