{% set meta = { title: "Партнеры" } %}
{% set page = { heading: true } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Партнеры" }
    ]
} %}
{% set title = { text: "Партнеры", tag: "h1", class: "title" } %}
{% extends "layouts/default.njk" %}
{% block content %}
     {% include "blocks/common/partners-content/partners-content.njk" %}
{% endblock %}

