{% set meta = { title: "Карточка товара" } %}

{% set page = { heading: false, after_content: true, sidebar: false } %}

{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Каталог", url: "./catalog.html" },
        { title: "Электродвигатели", url: "./catalog-level-2.html" },
        { title: "Карточка товара" }
    ]
} %}

{% extends "layouts/default.njk" %}

{% block content %}
    {% include "blocks/common/product-card/product-card.njk" %}
    {% include "blocks/common/similar-products/similar-products.njk" %}
{% endblock %}

{% block after_content %}
    {% include "blocks/common/catalog-form/catalog-form.njk" %}
{% endblock %}