<section class="catalog-short section {{ catalogAdditionalClass if catalogAdditionalClass else '' }}">
    <div class="container">
        <div class="catalog-short__grid">
            <!-- Блок 1 -->
            <a href="./catalog-level-2.html" class="catalog-short__item">
                <div class="catalog-short__image">
                    <img class="lazy" src="./assets/images/content/hero-img-3.png" alt="Электродвигатели" />
                </div>
                <h2 class="catalog-short__title">Электродвигатели</h2>
                <span class="button red">
                    <span>Подробнее</span>
                </span>
            </a>

            <!-- Блок 2 -->
            <a href="./catalog-level-2.html" class="catalog-short__item">
                <div class="catalog-short__image">
                    <img class="lazy" src="./assets/images/content/hero-img-2.png" alt="Защитная апаратура" />
                </div>
                <h2 class="catalog-short__title">Защитная апаратура</h2>
                <span class="button red">
                    <span>Подробнее</span>
                </span>
            </a>
        </div>
    </div>
</section>