@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.policy {
    padding: 40px 0 150px 0;

    @include bp.mq(tablet-l) {
        padding: 40px 0 100px 0;
    }

    @include bp.mq(mobile-l) {
        padding: 20px 0 80px 0;
    }

    .block {

        article {
            margin-bottom: 20px;
            color: #161B1B;
            font-family: var(--font-family-headings);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            b {
                font-weight: 500;
            }

            figure {
                display: flex;
                flex-direction: column;
                max-width: 654px;
                margin-right: unset;
                margin-left: unset;

                a {
                    display: flex;
                }

                img,
                video,
                iframe {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16/9;
                    overflow: hidden;
                    object-fit: cover;
                    border-radius: 5px;
                }

                figcaption {
                    margin-top: 8px;
                    font-size: 14px;
                    font-style: italic;
                    color: var(--color-8);
                    text-align: center;
                }
            }

            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--font-family-headings);
                font-weight: 400;
                line-height: 150%;
                color: #161B1B;
            }

            h2 {
                font-size: 45px;
                font-style: normal;
                margin-bottom: 15px;

                @include bp.mq(tablet-xl) {
                    font-size: 28px;
                    line-height: 120%;
                }

                @include bp.mq(mobile-xl) {
                    font-size: 22px;
                }
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            h4 {
                font-size: 18px;
                font-weight: 700;
            }

            @include mix.reset-child-outer-margins;
        }

        @include mix.reset-child-outer-margins;
    }
}
