@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.sidebar-navigation {
    padding: 15px 0;
    overflow: hidden;
    background: var(--color-white);
    border: 1px solid var(--color-1);
    border-radius: 10px;
    box-shadow: 0 4px 28px 0 var(--color-5);

    @include bp.mq(laptop) {
        padding: 0;
        padding-right: var(--container-padding);
        padding-left: var(--container-padding);
        margin-right: calc(-1 * var(--container-padding));
        margin-left: calc(-1 * var(--container-padding));
        overflow-x: auto;
        border: none;
        border-radius: unset;
        box-shadow: unset;
    }

    .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        @include bp.mq(laptop) {
            flex-direction: row;
            width: max-content;
            overflow: hidden;
            background: var(--color-white);
            border: 1px solid var(--color-1);
            border-radius: 10px;
        }

        > li {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            > a {
                position: relative;
                z-index: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                padding: 20px 30px;
                font-weight: 500;
                line-height: normal;
                color: var(--color-2);
                white-space: nowrap;
                text-decoration: none;
                transition:
                    background-color 0.3s,
                    color 0.3s;

                @include bp.mq(laptop) {
                    padding: 10px 20px;
                    font-size: 15px;
                }

                &:hover {
                    color: var(--color-primary);
                    background-color: var(--color-1);
                }
            }

            &.is-active > a {
                color: var(--color-primary);
                background-color: var(--color-1);
            }
        }
    }
}
