<div class="widget-callback">
    <div class="title">В нашем каталоге более 1000 товаров</div>
    <div class="subtitle">Не тратьте время на&nbsp;поиски</div>
    <div class="text">Закажите обратный звонок и мы перезвоним вам в течение 10 секунд</div>
    {% include "components/general/form/form-7.njk" %}
</div>