{# blocks/common/contacts-content/contacts-content.njk #}

<section class="contacts-content section bg">
    <div class="container">
        <div class="contacts-content__wrapper">
            <!-- Левый блок: информация -->
            <div class="contacts-content__info">
                <div class="contacts-content__item">
                    <p class="contacts-content__subtitle">Адрес:</p>
                    <p class="contacts-content__text">
                        193091, город Санкт-Петербург,<br>
                        Октябрьская наб., д. 34 к. 6 литер а, кабинет 212
                    </p>
                </div>

                <div class="contacts-content__item">
                    <p class="contacts-content__subtitle">Режим работы:</p>
                    <p class="contacts-content__text">Пн-Пт 10:00-18:00</p>
                </div>

                <div class="contacts-content__item">
                    <p class="contacts-content__text">
                        <a href="tel:88007778888" class="contacts-content__link">8 800 777 88 88</a>
                        <a href="mailto:info@mayak.ru" class="contacts-content__link">info@mayak.ru</a>
                    </p>
                </div>
            </div>

            <!-- Правый блок: карта -->
            <div class="contacts-content__map">
                <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A74a8b34ad35c68d58f0486857151e3611843bc788eff71b0ccaf59c3a9ad7e8c&amp;source=constructor"
                    width="941"
                    height="547"
                    frameborder="0"
                    allowfullscreen
                    loading="lazy"
                    title="Карта"
                ></iframe>
            </div>
        </div>
    </div>
</section>