@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.photo-card {
  margin-bottom: 50px;

  &--hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease-in-out,
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out,
    margin 0.5s ease-in-out,
    padding 0.5s ease-in-out;

    &.is-visible {
      max-height: 500px;
      opacity: 1;
      transform: translateY(0);
      padding: 0;
      margin-bottom: 50px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__image {
    width: 100%;
    height: 355px;
    overflow: hidden;
    background: #F5F5F5;

    @include bp.mq(tablet) {
      height: 273.869px;
    }

    @include bp.mq(mobile) {
      height: 231.914px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.5s ease;
      will-change: transform;
    }

    .photo-card:hover & img {
      transform: scale(1.02);
    }
  }

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-black);
    margin: 0;
    padding-top: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s ease;

    .photo-card:hover & {
      color: var(--color-red);
    }
  }
}