@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.seo {
    padding: 60px 0;
    margin-bottom: unset;
    background: var(--color-1);

    @include bp.mq(laptop) {
        padding: 46px 0;
    }

    @include bp.mq(tablet) {
        padding: 42px 0;
    }

    .block {
        .text {
            position: relative;
            max-width: 1156px;
            overflow: hidden;
            transition: max-height 0.4s ease-in-out;

            &.is-collapsed {
                max-height: calc(1.5em * 5 + 36px + 1.5em + 40px);

                &::after {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 80px;
                    pointer-events: none;
                    content: "";
                    background: linear-gradient(to bottom, transparent, var(--color-1));
                }
            }

            &.is-expanded {
                max-height: none;
            }

            h2 {
                font-size: 36px;
                font-weight: 500;

                @include bp.mq(laptop-l) {
                    font-size: 30px;
                }
                @include bp.mq(laptop) {
                    margin-bottom: 24px;
                    font-size: 28px;
                }
                @include bp.mq(tablet) {
                    font-size: 26px;
                }
            }

            p,
            ul {
                line-height: 150%;
            }
        }

        .seo-toggle {
            padding: 0;
            margin-top: 16px;
            line-height: 150%;
            color: var(--color-primary);
            text-decoration: underline;
            text-underline-offset: 2px;
            outline: none;
            background: transparent;
            border: none;
            transition: all 0.3s;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
