@use "core/breakpoints" as bp;

.mini-cart {
    position: relative;
    display: flex;
    width: fit-content;
    margin-right: 10px;

    svg {
        @include bp.mq(laptop-l) {
            width: 30px;
            height: 26px;
        }
        @include bp.mq(laptop) {
            width: 25px;
            height: 22px;
        }
    }

    &:hover {
        svg path {
            stroke: var(--color-primary);
        }
    }

    .counter {
        position: absolute;
        top: -20px;
        right: -15px;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        padding: 2px;
        font-family: var(--font-family-secondary);
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: var(--color-white);
        text-align: center;
        background: var(--color-primary);
        border-radius: 50%;

        @include bp.mq(laptop-l) {
            top: -15px;
            right: -13px;
            width: 22px;
            height: 22px;
            padding: 1px;
        }
        @include bp.mq(laptop) {
            top: -15px;
            right: -15px;
        }
    }
}
