@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.documents {
    .block {
        max-width: 1153px;

        .items {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .item {
                display: flex;
                gap: 8px;
                align-items: center;
                padding: 20px;
                background: var(--color-1);
                border-radius: 10px;

                .extension {
                    display: flex;
                    flex: 0 0 auto;
                    width: 30px;
                    height: 30px;
                }

                .name {
                    flex: 1 1 auto;
                    font-weight: 700;
                    line-height: 150%;
                    color: var(--color-2);
                    transition: color 0.3s;

                    @include bp.mq(laptop) {
                        font-size: 15px;
                    }
                }

                .icon {
                    display: flex;
                    flex: 0 0 auto;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    text-decoration: none;

                    .name {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}
