@use "core/breakpoints" as bp;
@use "core/mixins" as mixin;

.products-table {
    @include bp.mq(laptop) {
        overflow-x: auto;
    }

    .table {
        display: flex;
        flex-direction: column;

        @include bp.mq(laptop) {
            width: 100%;
            min-width: max-content;
        }

        thead,
        tbody {
            display: flex;
            flex-direction: column;
        }

        thead {
            tr {
                background: var(--color-1);
                border-bottom: 2px solid var(--color-5);

                th {
                    padding: 8px 15px;

                    @include bp.mq(laptop) {
                        padding: 8px 10px;
                    }

                    &:nth-of-type(3),
                    &:nth-of-type(4) {
                        justify-content: center;
                    }
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid var(--color-5);

                &:nth-of-type(even) {
                    background: var(--color-1);
                }

                &.is-added {
                    td {
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5),
                        &:nth-of-type(6) {
                            color: var(--color-white);
                            background: var(--color-primary);

                            svg {
                                path {
                                    fill: var(--color-white);
                                    stroke: var(--color-white);
                                }
                            }
                        }
                    }
                }

                &.is-focus {
                    td {
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            color: var(--color-white);
                            background: var(--color-primary);

                            svg {
                                path {
                                    fill: var(--color-white);
                                    stroke: var(--color-white);
                                }
                            }
                        }
                    }
                }

                &.has-quantity {
                    .add-to-cart {
                        opacity: 1;
                    }
                }

                &:has(.is-pending) {
                    .quantity {
                        input {
                            cursor: not-allowed;
                            opacity: 0.4;
                        }
                    }

                    .add-to-cart {
                        pointer-events: none;
                        cursor: not-allowed;
                        opacity: 0.3;
                    }
                }

                td {
                    padding: 0 15px;

                    @include bp.mq(laptop) {
                        padding: 0 10px;
                    }
                }
            }
        }

        tr {
            display: flex;
            width: 100%;

            th,
            td {
                display: flex;
                align-items: center;
                font-weight: 500;

                @include bp.mq(laptop) {
                    font-size: 15px;
                }

                &:nth-of-type(1) {
                    flex: 1 1 634px;
                    min-width: 140px;

                    @include bp.mq(laptop) {
                        flex: 1 1 234px;
                    }
                }

                &:nth-of-type(2) {
                    flex: 0 0 124px;
                    justify-content: flex-end;
                }

                &:nth-of-type(3) {
                    flex: 0 0 134px;
                    justify-content: flex-end;
                }

                &:nth-of-type(4) {
                    flex: 0 0 134px;
                    justify-content: flex-end;
                }

                &:nth-of-type(5) {
                    flex: 0 0 140px;
                    justify-content: flex-end;
                }

                &:nth-of-type(6) {
                    flex: 0 0 38px;
                    justify-content: flex-end;
                    padding: 0;
                }
            }
        }
    }

    .name {
        color: var(--color-2);
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: var(--color-primary);
        }
    }

    .stock {
        .is-pending {
            color: var(--color-yellow);
        }

        .is-available {
            color: var(--color-green);
        }
    }

    .quantity {
        display: flex;
        gap: 8px;
        align-items: center;

        input {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 96px;
            height: 30px;
            padding: 0 8px;
            font-weight: 500;
            line-height: 100%; /* 16px */
            color: var(--color-black);
            text-align: center;
            outline: none;
            background: var(--color-white);
            border: 1px solid var(--color-5);
            border-radius: 7px;

            &::placeholder {
                color: var(--color-4);
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &.is-error {
                border-color: var(--color-green);
                border-width: 2px;
            }
        }
    }

    .add-to-cart {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        cursor: pointer;
        outline: none;
        background: transparent;
        border: none;

        .added-label {
            font-size: 13px;
            font-weight: 500;
            color: var(--color-white);
            white-space: nowrap;
        }
    }

    .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        padding: 0;
        cursor: pointer;
        outline: none;
        background: transparent;
        border: none;
    }
}
