@use "core/breakpoints" as bp;

.product-navigation {
    position: sticky;
    top: var(--header-height);
    z-index: 20;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    transition: all 0.3s;

    // Фиксированное состояние
    &.is-fixed {
        padding: 16px 24px;
        margin-right: calc(-1 * 24px);
        margin-left: calc(-1 * 24px);
        background-color: var(--color-1);
        border-bottom: 1px solid var(--color-5);

        @include bp.mq(laptop) {
            padding: 10px;
        }
        @include bp.mq(tablet) {
            margin-right: calc(-1 * var(--container-padding));
            margin-left: calc(-1 * var(--container-padding));
        }
    }

    // --------------------------------------
    // Navigation
    // --------------------------------------

    .nav-wrap {
        @include bp.mq(laptop) {
            padding-bottom: 4px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 6px;
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--color-5);
                border-radius: 16px;
            }
        }
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;

        @include bp.mq(laptop) {
            flex-wrap: nowrap;
        }
    }

    .nav-item {
        position: relative;
        flex: 0 0 auto;
        padding: 7px;
        font-weight: 500;
        line-height: normal;
        color: var(--color-2);
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        background: var(--color-5);
        border: 1px solid var(--color-5);
        border-radius: 10px;
        transition: all 0.3s;

        @include bp.mq(laptop) {
            padding: 5px;
            font-size: 15px;
        }

        &:hover {
            color: var(--color-primary);
            background: var(--color-white);
            border: 1px solid var(--color-primary);
        }

        &.is-active {
            color: var(--color-primary);
            background: var(--color-white);
            border: 1px solid var(--color-primary);
        }
    }
}
