{% macro render(
        items=[],
        activeIndex=0,
        id="",
        class="",
        data={},
        aria={}
    ) %}
    {% set navClasses = "product-navigation" %}
    {% if class %}
        {% set navClasses = navClasses + " " + class %}
    {% endif %}

    <div
        class="{{ navClasses }}"
        data-component="product-navigation"
        {% if id %}id="{{ id }}"{% endif %}
        {% if data %}
            {% for key, val in data %}
                data-{{ key | replace("_", "-") }}="{{ val }}"
            {% endfor %}
        {% endif %}
        {% if aria %}
            {% for key, val in aria %}
                aria-{{ key | replace("_", "-") }}="{{ val }}"
            {% endfor %}
        {% endif %}
    >
        <div class="nav-wrap">
            <nav class="nav">
                {% for item in items %}
                    <a
                        href="{{ item.href }}"
                        class="nav-item{% if loop.index0 == activeIndex %} is-active{% endif %}"
                        data-nav-link
                    >
                        {{ item.title }}
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
{% endmacro %}