<div class="footer-address">
    <div class="footer-address__item">Пн-Пт 10:00-18:00</div>

    <div class="footer-address__item">
        193091, город Санкт-Петербург,<br />Октябрьская наб., д. 34 к. 6 литер а, кабинет 212
    </div>
</div>