<div id="popup-price" class="popup-price">
    <div class="block">
        <div class="heading">
            <div class="title">Почему цена на сайте может отличатся от цены в&nbsp;коммерческом предложении</div>
        </div>
        <div class="frame">
            <div class="text">
                <p><strong>1. ОТМОТКА</strong></p>
                <p>
                    <strong>Например:</strong> производитель поставляет продукцию провода в бухтах по 1000 метров, но
                    клиенту требуется только 50 метров. Для того что бы подготовить клиенту 50 метров провода, требуются
                    определенные трудо затраты в виде отмотки, которые и могут повлиять на изменение цены.
                </p>
                <p><strong>2. КРАТНОСТЬ</strong></p>
                <p>
                    Так же клиентам часто требуется кратность бухт, тут такая же сложность как и с отмокой, очень часто
                    бухты имеют не стандартную длину, и что бы подобрать кратность необходимы пределенные трудо затраты
                    в виде подбора кратности продукции.
                </p>
            </div>
            <div class="warning">
                <div class="icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12 2L2 20H22L12 2Z"
                            stroke="#B42F2D"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M12 8V12"
                            stroke="#B42F2D"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M12 16H12.01"
                            stroke="#B42F2D"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="text">
                    Потребность клиента в продукции часто требует таких действий как отмотка и подбор кратности
                    продукции, это со своей стороны влияет на конечную цену товара.
                </div>
            </div>
        </div>
    </div>
</div>