@use "core/breakpoints" as bp;
@use "core/mixins" as mix;

.order {
    .block {
        display: grid;
        grid-template-columns: 9fr 3fr;
        gap: 30px;

        @include bp.mq(laptop) {
            display: flex;
            flex-direction: column;
        }
    }
}
