<button id="menu-catalog-button" class="button primary md" type="button">
    <svg class="open" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="6" width="25" height="3" rx="1" fill="white" />
        <rect y="11" width="25" height="3" rx="1" fill="white" />
        <rect y="16" width="25" height="3" rx="1" fill="white" />
    </svg>
    <svg class="close" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect
            x="3.96289"
            y="17.8874"
            width="19.6398"
            height="2"
            rx="1"
            transform="rotate(-45 3.96289 17.8874)"
            fill="white"
        />
        <rect
            x="5.41406"
            y="4.43503"
            width="19"
            height="2"
            rx="1"
            transform="rotate(45 5.41406 4.43503)"
            fill="white"
        />
    </svg>
    <span>Кабельная продукция</span>
</button>
<nav class="menu-catalog">
    <div class="menu-catalog-header">
        <span class="menu-catalog-title">Каталог</span>
        <button class="menu-catalog-close" type="button" aria-label="Закрыть каталог">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect
                    x="4.92893"
                    y="17.6569"
                    width="18"
                    height="2"
                    rx="1"
                    transform="rotate(-45 4.92893 17.6569)"
                    fill="currentColor"
                />
                <rect
                    x="6.34314"
                    y="4.92893"
                    width="18"
                    height="2"
                    rx="1"
                    transform="rotate(45 6.34314 4.92893)"
                    fill="currentColor"
                />
            </svg>
        </button>
    </div>
    <div class="items">
        <div class="item">
            <div class="item-header">
                <a href="./catalog-category.html" class="name">Кабели радиочастотные</a>
                <button class="item-toggle" type="button" aria-label="Развернуть">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 7.5L10 12.5L15 7.5"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
            <div class="list">
                <a href="./catalog-subcategory.html">РК 50</a>
                <a href="./catalog-subcategory.html">БПРК 75ДОЭ</a>
                <a href="./catalog-subcategory.html">РК 100</a>
                <a href="./catalog-subcategory.html">РК 150</a>
                <a href="./catalog-subcategory.html">КВСФ</a>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <a href="./catalog-category.html" class="name">Провода специального назначения</a>
                <button class="item-toggle" type="button" aria-label="Развернуть">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 7.5L10 12.5L15 7.5"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
            <div class="list">
                <a href="./catalog-subcategory.html">МС 16-13</a>
                <a href="./catalog-subcategory.html">МСЭ 16-13</a>
                <a href="./catalog-subcategory.html">МСЭО 16-13</a>
                <a href="./catalog-subcategory.html">МС 26-13</a>
                <a href="./catalog-subcategory.html">МСЭ 26-13</a>
                <a href="./catalog-subcategory.html">МСЭО 26-13</a>
                <a href="./catalog-subcategory.html">МС 16-33</a>
                <a href="./catalog-subcategory.html">МСЭ 16-33</a>
                <a href="./catalog-subcategory.html">МСЭО 16-33</a>
                <a href="./catalog-subcategory.html">МС 36-11</a>
                <a href="./catalog-subcategory.html">МС 36-12</a>
                <a href="./catalog-subcategory.html">МС 36-13</a>
                <a href="./catalog-subcategory.html">МСЭО 36-13</a>
                <a href="./catalog-subcategory.html">МС 15-11</a>
                <a href="./catalog-subcategory.html">МСЭО 15-11</a>
                <a href="./catalog-subcategory.html">МСЭ 15-12</a>
                <a href="./catalog-subcategory.html">МС 16-12</a>
                <a href="./catalog-subcategory.html">МС 16-14</a>
                <a href="./catalog-subcategory.html">МС 16-15</a>
                <a href="./catalog-subcategory.html">МСЭ 16-15</a>
                <a href="./catalog-subcategory.html">МС 26-11</a>
                <a href="./catalog-subcategory.html">МСЭ 26-11</a>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <a href="./catalog-category.html" class="name">Монтажные провода и кабели</a>
                <button class="item-toggle" type="button" aria-label="Развернуть">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 7.5L10 12.5L15 7.5"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
            <div class="list">
                <a href="./catalog-subcategory.html">МГТФ</a>
                <a href="./catalog-subcategory.html">МГТФЭ</a>
                <a href="./catalog-subcategory.html">МГТФЛ</a>
                <a href="./catalog-subcategory.html">МГШВ</a>
                <a href="./catalog-subcategory.html">МГШВЭ</a>
                <a href="./catalog-subcategory.html">МГШВ-1</a>
                <a href="./catalog-subcategory.html">МП 37-12</a>
                <a href="./catalog-subcategory.html">МПЭ 37-12</a>
                <a href="./catalog-subcategory.html">МК 27-11</a>
                <a href="./catalog-subcategory.html">МКЭ 27-11</a>
                <a href="./catalog-subcategory.html">МСТП</a>
                <a href="./catalog-subcategory.html">МСТПЭ</a>
                <a href="./catalog-subcategory.html">МЛТП</a>
                <a href="./catalog-subcategory.html">МЛТПЭ</a>
                <a href="./catalog-subcategory.html">МПМ</a>
                <a href="./catalog-subcategory.html">МПМЭ</a>
                <a href="./catalog-subcategory.html">МПО</a>
                <a href="./catalog-subcategory.html">МПОЭ</a>
                <a href="./catalog-subcategory.html">МПО 23-11</a>
                <a href="./catalog-subcategory.html">МПО 33-11</a>
                <a href="./catalog-subcategory.html">МПОЭ 33-11</a>
                <a href="./catalog-subcategory.html">МП 16-11</a>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <a href="./catalog-category.html" class="name">Бортовые провода и кабели</a>
                <button class="item-toggle" type="button" aria-label="Развернуть">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 7.5L10 12.5L15 7.5"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
            <div class="list">
                <a href="./catalog-subcategory.html">БПДО</a>
                <a href="./catalog-subcategory.html">БПДОЭ</a>
                <a href="./catalog-subcategory.html">БПВЛ</a>
                <a href="./catalog-subcategory.html">БПВЛЭ</a>
                <a href="./catalog-subcategory.html">БИФ</a>
                <a href="./catalog-subcategory.html">БИФЭ</a>
                <a href="./catalog-subcategory.html">БИФЭЗ</a>
                <a href="./catalog-subcategory.html">БИФ-Н</a>
                <a href="./catalog-subcategory.html">БИФЭ-Н</a>
                <a href="./catalog-subcategory.html">БИФЭЗ-Н</a>
                <a href="./catalog-subcategory.html">ПТЛ 200</a>
                <a href="./catalog-subcategory.html">ПТЛЭ 200</a>
                <a href="./catalog-subcategory.html">ПТЛ 250</a>
                <a href="./catalog-subcategory.html">ПТЛЭ 250</a>
                <a href="./catalog-subcategory.html">БИН</a>
                <a href="./catalog-subcategory.html">БИНЭ</a>
                <a href="./catalog-subcategory.html">БФС</a>
            </div>
        </div>
        <div class="item">
            <div class="item-header">
                <a href="./catalog-category.html" class="name">Провода неизолированные</a>
                <button class="item-toggle" type="button" aria-label="Развернуть">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 7.5L10 12.5L15 7.5"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
            <div class="list">
                <a href="./catalog-subcategory.html">МПЛ</a>
                <a href="./catalog-subcategory.html">ПСО </a>
            </div>
        </div>
    </div>
</nav>