<section class="about-benefits section">
    <div class="container">
        <div class="block">
            {% set title = { text: "Почему мы", tag: "h2", class: "section-title" } %}
            {% include "components/general/title/title.njk" %}
            <div class="grid" data-animate="fade-up">
                <div class="item item-1">
                    <div class="number">1</div>
                    <div class="text">
                        Значительная часть товара есть в наличии на складе в Москве.<br />
                        Информация об этом — в разделе On-Line склад.
                    </div>
                </div>
                <div class="item item-2">
                    <div class="number">2</div>
                    <div class="text">
                        Удобный поиск. В каталогах просто ориентироваться — все распределено по именным разделам. Также
                        можно найти нужное по названию и сечению.
                    </div>
                </div>
                <div class="item item-3">
                    <div class="number">3</div>
                    <div class="text">
                        БЕСПЛАТНАЯ доставка до терминала ТК Деловые Линии в г. Москве. Возможна также отправка заказов
                        любой транспортной компанией с филиалом в Москве или вашем городе — согласуйте условия с
                        менеджером.
                    </div>
                </div>
                <div class="item item-4">
                    <div class="number">4</div>
                    <div class="text">
                        Изготовление продукции под заказ. Отправляем индивидуальные заказы на производство и гарантируем
                        оперативное выполнение работ.
                    </div>
                </div>
                <div class="item item-5">
                    <div class="number">5</div>
                    <div class="text">
                        Выгодные цены. Работаем без посредников. Сэкономленные средства вы можете потратить на развитие
                        своего бизнеса.
                    </div>
                </div>
                <div class="item item-6">
                    <div class="number">6</div>
                    <div class="text">
                        Профессиональные консультанты. В нашей команде — опытные специалисты, которые всегда рады
                        ответить на любые вопросы заказчика.
                    </div>
                </div>
                <div class="item item-7">
                    <div class="number">7</div>
                    <div class="text">
                        Для постоянных клиентов возможна отсрочка платежа даже после отгрузки продукции.<br />
                        Незаменимая услуга на случай форс-мажорных ситуаций.
                    </div>
                </div>
                <div class="item item-8">
                    <picture class="lazy-loader">
                        <img
                            class="lazy"
                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                            data-src="./assets/images/content/about-benefits.png"
                            alt=""
                        />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>