<nav class="policy-navigation" data-component="policy-navigation">
    <div class="title">В этой статье:</div>
    <ul class="list">
        <li><a href="#section-1">1. Общие положения</a></li>
        <li><a href="#section-2">2. Кто обрабатывает информацию</a></li>
        <li><a href="#section-3">3. Какова цель данной Политики</a></li>
        <li><a href="#section-4">4. Какую Персональную информацию о Вас собирает Невские ресурсы</a></li>
        <li><a href="#section-5">5. Какова правовая основа и цели обработки Вашей Персональной информации</a></li>
    </ul>
</nav>