<section class="catalog section">
    <div class="container">
        <div class="block">
            {% set title = { text: "Каталог", tag: "h2", class: "section-title" } %}
            {% include "components/general/title/title.njk" %}
            <div class="items" data-animate="fade-up">
                <div class="item">
                    <a href="./catalog-category.html" class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-1.png"
                                alt=""
                            />
                        </picture>
                    </a>
                    <a href="./catalog-category.html" class="name">Кабели радиочастотные</a>
                    <div class="list">
                        <a href="./catalog-subcategory.html">РК 50</a>
                        <a href="./catalog-subcategory.html">БПРК 75ДОЭ</a>
                        <a href="./catalog-subcategory.html">РК 100</a>
                        <a href="./catalog-subcategory.html">РК 150</a>
                        <a href="./catalog-subcategory.html">КВСФ</a>
                    </div>
                </div>
                <div class="item">
                    <a href="./catalog-category.html" class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-3.png"
                                alt=""
                            />
                        </picture>
                    </a>
                    <a href="./catalog-category.html" class="name">Провода специального назначения</a>
                    <div class="list">
                        <a href="./catalog-subcategory.html">МС 16-13</a>
                        <a href="./catalog-subcategory.html">МСЭ 16-13</a>
                        <a href="./catalog-subcategory.html">МСЭО 16-13</a>
                        <a href="./catalog-subcategory.html">МС 26-13</a>
                        <a href="./catalog-subcategory.html">МСЭ 26-13</a>
                        <a href="./catalog-subcategory.html">МСЭО 26-13</a>
                        <a href="./catalog-subcategory.html">МС 16-33</a>
                        <a href="./catalog-subcategory.html">МСЭ 16-33</a>
                        <a href="./catalog-subcategory.html">МСЭО 16-33</a>
                        <a href="./catalog-subcategory.html">МС 36-11</a>
                        <a href="./catalog-subcategory.html">МС 36-12</a>
                        <a href="./catalog-subcategory.html">МС 36-13</a>
                        <a href="./catalog-subcategory.html">МСЭО 36-13</a>
                        <a href="./catalog-subcategory.html">МС 15-11</a>
                        <a href="./catalog-subcategory.html">МСЭО 15-11</a>
                        <a href="./catalog-subcategory.html">МСЭ 15-12</a>
                        <a href="./catalog-subcategory.html">МС 16-12</a>
                        <a href="./catalog-subcategory.html">МС 16-14</a>
                        <a href="./catalog-subcategory.html">МС 16-15</a>
                        <a href="./catalog-subcategory.html">МСЭ 16-15</a>
                        <a href="./catalog-subcategory.html">МС 26-11</a>
                        <a href="./catalog-subcategory.html">МСЭ 26-11</a>
                    </div>
                </div>
                <div class="item">
                    <a href="./catalog-category.html" class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-4.png"
                                alt=""
                            />
                        </picture>
                    </a>
                    <a href="./catalog-category.html" class="name">Монтажные провода и кабели</a>
                    <div class="list">
                        <a href="./catalog-subcategory.html">МГТФ</a>
                        <a href="./catalog-subcategory.html">МГТФЭ</a>
                        <a href="./catalog-subcategory.html">МГТФЛ</a>
                        <a href="./catalog-subcategory.html">МГШВ</a>
                        <a href="./catalog-subcategory.html">МГШВЭ</a>
                        <a href="./catalog-subcategory.html">МГШВ-1</a>
                        <a href="./catalog-subcategory.html">МП 37-12</a>
                        <a href="./catalog-subcategory.html">МПЭ 37-12</a>
                        <a href="./catalog-subcategory.html">МК 27-11</a>
                        <a href="./catalog-subcategory.html">МКЭ 27-11</a>
                        <a href="./catalog-subcategory.html">МСТП</a>
                        <a href="./catalog-subcategory.html">МСТПЭ</a>
                        <a href="./catalog-subcategory.html">МЛТП</a>
                        <a href="./catalog-subcategory.html">МЛТПЭ</a>
                        <a href="./catalog-subcategory.html">МПМ</a>
                        <a href="./catalog-subcategory.html">МПМЭ</a>
                        <a href="./catalog-subcategory.html">МПО</a>
                        <a href="./catalog-subcategory.html">МПОЭ</a>
                        <a href="./catalog-subcategory.html">МПО 23-11</a>
                        <a href="./catalog-subcategory.html">МПО 33-11</a>
                        <a href="./catalog-subcategory.html">МПОЭ 33-11</a>
                        <a href="./catalog-subcategory.html">МП 16-11</a>
                    </div>
                </div>
                <div class="item">
                    <a href="./catalog-category.html" class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-5.png"
                                alt=""
                            />
                        </picture>
                    </a>
                    <a href="./catalog-category.html" class="name">Бортовые провода и кабели</a>
                    <div class="list">
                        <a href="./catalog-subcategory.html">БПДО</a>
                        <a href="./catalog-subcategory.html">БПДОЭ</a>
                        <a href="./catalog-subcategory.html">БПВЛ</a>
                        <a href="./catalog-subcategory.html">БПВЛЭ</a>
                        <a href="./catalog-subcategory.html">БИФ</a>
                        <a href="./catalog-subcategory.html">БИФЭ</a>
                        <a href="./catalog-subcategory.html">БИФЭЗ</a>
                        <a href="./catalog-subcategory.html">БИФ-Н</a>
                        <a href="./catalog-subcategory.html">БИФЭ-Н</a>
                        <a href="./catalog-subcategory.html">БИФЭЗ-Н</a>
                        <a href="./catalog-subcategory.html">ПТЛ 200</a>
                        <a href="./catalog-subcategory.html">ПТЛЭ 200</a>
                        <a href="./catalog-subcategory.html">ПТЛ 250</a>
                        <a href="./catalog-subcategory.html">ПТЛЭ 250</a>
                        <a href="./catalog-subcategory.html">БИН</a>
                        <a href="./catalog-subcategory.html">БИНЭ</a>
                        <a href="./catalog-subcategory.html">БФС</a>
                    </div>
                </div>
                <div class="item">
                    <a href="./catalog-category.html" class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-2.png"
                                alt=""
                            />
                        </picture>
                    </a>
                    <a href="./catalog-category.html" class="name">Провода неизолированные</a>
                    <div class="list">
                        <a href="./catalog-subcategory.html">МПЛ</a>
                        <a href="./catalog-subcategory.html">ПСО </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>