<section class="catalog short section">
    <div class="container">
        <div class="block">
            {% set title = { text: "Наша продукция", tag: "h2", class: "section-title" } %}
            {% include "components/general/title/title.njk" %}
            <div class="items" data-animate="fade-up">
                <a href="./catalog-category.html" class="item">
                    <div class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-1.png"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="name">Кабели радиочастотные</div>
                </a>
                <a href="./catalog-category.html" class="item">
                    <div class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-3.png"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="name">Провода специального назначения</div>
                </a>
                <a href="./catalog-category.html" class="item">
                    <div class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-4.png"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="name">Монтажные провода и кабели</div>
                </a>
                <a href="./catalog-category.html" class="item">
                    <div class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-5.png"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="name">Бортовые провода и кабели</div>
                </a>
                <a href="./catalog-category.html" class="item">
                    <div class="image">
                        <picture class="lazy-loader">
                            <img
                                class="lazy"
                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                                data-src="./assets/images/content/catalog-short-item-2.png"
                                alt=""
                            />
                        </picture>
                    </div>
                    <div class="name">Провода неизолированные</div>
                </a>
            </div>
        </div>
    </div>
</section>