{# blocks/common/similar-products/similar-products.njk #}
<!-- Секция похожих товаров -->
<section class="similar-products">
    <div class="container">
        <!-- Здесь будут похожие товары -->
        <p class="similar-products__placeholder">Секция похожих товаров</p>
    </div>
</section>