{# blocks/common/product-card/product-card.njk #}
<!-- Секция карточки товара -->
<section class="product-card">
    <div class="container">
        <!-- Здесь будет карточка товара -->
        <p class="product-card__placeholder">Секция карточки товара</p>
    </div>
</section>