{% from "components/general/files/files.njk" import render as files %}

{% macro render(title = "Доставка", items = [], id = "", class = "") %}
    {% set componentClasses = "product-delivery" %}
    {% if class %}
        {% set componentClasses = componentClasses + " " + class %}
    {% endif %}

    <div
        class="{{ componentClasses }}"
        {% if id %}
            id="{{ id }}"
        {% endif %}
    >
        {% if title %}
            <div class="title">{{ title }}</div>
        {% endif %}
        <div class="frame">
            <div class="title">Отгрузка транспортными компаниями:</div>
            <div class="delivery-images">
                <picture class="lazy-loader">
                    <img
                        class="lazy"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                        data-src="./assets/images/content/delivery-dl.png"
                        alt=""
                    />
                </picture>
                <picture class="lazy-loader">
                    <img
                        class="lazy"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                        data-src="./assets/images/content/delivery-cdek.png"
                        alt=""
                    />
                </picture>
            </div>
            {% set items = [
                { name: "Скачать доверительное письмо на забор груза", href: "#", size: "PDF, 2.4 МБ" }
            ] %}
            {{ files(items=items) }}
        </div>
        <div class="frame">
            <div class="title">Самовывоз:</div>
            <div class="text">
                <p>Адрес: 123592, г. Москва, улица Кулакова, д. 20, стр. 1Б, помещение VI, эт.3, комн. 24</p>
            </div>
            <div class="time">
                <div class="title">Часы работы:</div>
                <div class="item">понедельник - пятница: 9:00 - 17:00 (Без обеда)</div>
                <div class="item muted">суббота, воскресенье: выходной</div>
            </div>
            {% set items = [
                { name: "Скачать образец доверенности", href: "#", size: "PDF, 2.4 МБ" }
            ] %}
            {{ files(items=items) }}
        </div>
        <div class="frame">
            <div class="title">Схема проезда:</div>
            <div class="text">
                <p>
                    Станция метро «Строгино» (1-ый вагон из центра) выход влево. Далее 5 минут пешком прямо по Строгинскому
                    бульвару. Офис и склад находится на территории ОАО «Технопарк «ОРБИТА» (Центральная проходная).
                </p>
            </div>
            <div class="images">
                <a href="./assets/images/content/delivery-images-1.png" data-fancybox="delivery" class="image lazy-loader">
                    <img
                        class="lazy"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                        data-src="./assets/images/content/delivery-images-1.png"
                        alt=""
                    />
                    <span class="zoom">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 21L16.65 16.65"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                </a>
                <a href="./assets/images/content/delivery-images-2.png" data-fancybox="delivery" class="image lazy-loader">
                    <img
                        class="lazy"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                        data-src="./assets/images/content/delivery-images-2.png"
                        alt=""
                    />
                    <span class="zoom">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 21L16.65 16.65"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                </a>
                <a href="./assets/images/content/delivery-images-3.png" data-fancybox="delivery" class="image lazy-loader">
                    <img
                        class="lazy"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                        data-src="./assets/images/content/delivery-images-3.png"
                        alt=""
                    />
                    <span class="zoom">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 21L16.65 16.65"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </span>
                </a>
            </div>
            {% include "components/common/ya-maps/ya-maps.njk" %}
        </div>
    </div>
{% endmacro %}